### Importing required libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Reading the csv file
data = pd.read_csv('AdSmartABdata.csv')

In [3]:
#Exploring the dataset
data.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [4]:
##Dropping users that didnt fill the questionnaire
index_names = data[(data['yes'] == 0) & (data['no'] == 0)].index 

data.drop(index_names, inplace = True)
  
type(data)

pandas.core.frame.DataFrame

In [5]:
#1243 responses to the BIO questionnaire with 572 yeses and 671 nos. 
data.shape

(1243, 9)

In [6]:
data['experiment'].value_counts()

exposed    657
control    586
Name: experiment, dtype: int64

In [7]:
data['yes'].value_counts()

0    671
1    572
Name: yes, dtype: int64

In [8]:
data['no'].value_counts()

1    671
0    572
Name: no, dtype: int64

In [12]:
#metric of people that responded yes to the BIO
conversion_rate = data['yes'].sum() / data['yes'].count()

0.46017699115044247

In [22]:
conversion = data.groupby('experiment', as_index=False).agg({'yes':['sum', 'count']})

In [34]:
conversion.columns

MultiIndex([('yes',   'sum'),
            ('yes', 'count')],
           )

In [ ]:
conversion.columns = conversion.columns.droplevel(0)
conversion = conversion.reset_index()

In [37]:
conversion.columns

Index(['experiment', 'sum', 'count'], dtype='object')

In [39]:
conversion['conversion_rate'] = conversion['sum'] / conversion['count']
conversion

  experiment  sum  count  conversion_rate
0    control  264    586         0.450512
1    exposed  308    657         0.468798

The experimental unit of our test is the auction_id

Evaluation metric - the number of yeses to the BIO , it helps to measure the impact of brand awareness

Null hypothesis - There is no differnece between the control and exposed group 
                    The conversions rates are same in both the groups. 
                    There is no statistical significanct result.
                    
Alternative hypothesis - There is difference between the control and exposed group. 
                        Convsersion rates are different in both groups 
                      It gives Statistical Significant result
                      
Rejecting the Null Hypothesis Determine there is a difference between exposed and control and it is statistically signicant result

Confidence level - 95%
alpha = 0.05

In [44]:
conversion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experiment       2 non-null      object
 1   sum              2 non-null      int64
 2   count            2 non-null      int64
 3   conversion_rate  2 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 192.0+ bytes

In [47]:
conversion.sum

<bound method DataFrame.sum of   experiment  sum  count  conversion_rate
0    control  264    586         0.450512
1    exposed  308    657         0.468798>

In [48]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency([322, 264], [349, 308])
alpha = 0.05
print("p value is " + str(p)) 
if p <= alpha: 
    print('Dependent (reject H0)') 
else: 
    print('Independent (H0 holds true)')

p value is 1.0
Independent (H0 holds true)